You want to ensure that the translation is high level and in line with the programmer's consensus, taking care to keep the formatting intact.

Now, translate the following message into {{ .use_language }}.
```
{{ .input_message }}
```
Remember translate all given message.
Please start translate the message.
THE TRANSLATION:
